:root {
  --main-brand-color: #add129;
  --second-brand-color: #7dc617;
}

.modal {
  height: 100vh;
  display: grid;
  place-items: center;
}

.modal__container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #eff1f5;
  width: 520px;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0px 4px 4px #e6f2f2;
}

.modal__content {
  position: relative;
  text-align: center;
  padding: 1.25rem;
  border-radius: 1rem 1rem 0 0;
  /* transition: all 0.3s;
  transform: translateY(10%); */
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  gap: 15px;
  padding-bottom: 15px;
  box-sizing: border-box;

  overflow-y: auto;
  max-height: calc(100% - 70px);
}

.modal__img {
  width: 150px;
  margin-bottom: 0.75rem;
}

.modal__description {
  margin-bottom: 1.5rem;
}

.modal__button-width {
  width: 90%;
}

.modal__button-link {
  display: block;
  margin: 1rem auto 0;
  background-color: transparent;
  color: var(--first-color);
  font-weight: 500;
}

/* ------------- SHOW MODAL ------------- */

.show-accessibility {
  visibility: visible;
  opacity: 1;
}

.show-accessibility .modal__content {
  transform: translateY(0);
}

.modal__button.showButton {
  display: block;
}

/* ------------- BREAKPOINTS ------------- */

/* For small devices */

@media screen and (min-width: 576px) {
  .modal__content {
    margin: auto;
    margin-top: 50px;
    width: 100%;
    border-radius: 1.25rem;
  }
  .modal__img {
    width: 170px;
  }
}
/* button */

#open-accessibility {
  background-color: var(--main-brand-color);
  padding: 0px;
  width: 50px;
  height: 50px;
  min-height: unset;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: transform 0.3s linear;
}
#open-accessibility:hover {
  background-color: var(--second-brand-color);
  transform: scale(1.1);
}

#close-accessibility,
#close-accessibility:hover {
  background-color: transparent !important;
  background-image: none;
  padding: 0px !important;
  min-height: unset;
  height: unset !important;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  right: 10px;
  transition: opacity 0.3s linear;
}
#close-accessibility:hover {
  opacity: 1;
}
.title {
  margin: 0px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
.modal__header {
  background-color: var(--main-brand-color);
  padding: 10px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  overflow: visible;
}
.modal__header::before,
.modal__header::after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  bottom: -40px;
  left: 0px;
  height: 40px;
  width: 30px;
  border-top-left-radius: 20px;
  box-shadow: 0 -20px 0 0 var(--main-brand-color);
  z-index: 10000000;
}

.modal__header::after {
  box-shadow: 0 -20px 0 0 var(--main-brand-color);
  right: 0px;
  left: auto;
  transform: rotateY(180deg);
}

.feature__block {
  position: relative;
  width: 100%;
  height: 114px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  -webkit-appearance: none;
  cursor: pointer;
  background: #fff;
  border-radius: 12px;
  border: 2px solid #fff;
  padding: 0.3125rem 0.625rem;
  transition: border-color 0.15s ease;
  box-sizing: border-box;
}

#clearFeature {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 16px;
  border-radius: 12px;
  background-color: #d00;
  padding: 10px;
}

.feature-bright-contrast #brightContrast,
.feature-dyslexia-body #dyslexia,
.feature-uncolor-body #uncolor,
.feature-blackCursor #blackCursor,
.feature-whiteCursor #whiteCursor,
.feature-speech-enable #speech,
.feature-tab-enable #tabNav,
.feature-read-mask #readMask,
.feature-read-guide #readGuide,
.feature-font-size #fontSize,
.feature-zoom #zoom,
.feature-spacing #spacing,
.feature-lineHeight #lineHeight,
.feature-hide-img #hideImg,
.feature-tooltip #tooltip,
.feature-speech #speechTextarea {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3e%3cpath d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' fill='%23ADD129'/%3e%3c/svg%3e ");
  background-size: auto 15px;
  background-repeat: no-repeat;
  background-position: bottom 10px right 10px;
  border: 2px solid var(--main-brand-color);
}

#pointer-dot {
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border: 0px solid white;
  position: absolute;
  border-radius: 4px;
  z-index: 1;
  pointer-events: none;
  transition: border-color 0.5s;
}

#pointer-ring {
  left: 0;
  top: 0;
  width: 500px;
  height: 0;
  padding: 15px;
  border: 1px solid #333 !important;
  position: absolute;
  border-radius: 100px;
  z-index: 100000;
  pointer-events: none;
  margin-left: -250px;
  background-color: #333;
}
.feature-read-guide {
  overflow-x: hidden;
}

#pointer-ring::after {
  content: '';
  display: block;
  width: 0;
  height: 0;

  border-width: 0 7.5px 9px 7.5px;
  border-color: transparent transparent #333333 transparent;
  border-style: solid;
  left: 250px;
  margin-left: 238px;
  margin-top: -9px;
}

.font,
.space,
.lineHeight {
  display: flex;
  width: 90%;
  gap: 5px;
  justify-content: space-around;
  position: absolute;
  bottom: 30px;
}
.font > span,
.space > span,
.lineHeight > span {
  height: 5px;
  border: 1px solid transparent;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s linear;
}
.feature-font-size .font > span,
.feature-spacing .space > span,
.feature-lineHeight .lineHeight > span {
  border: 1px solid var(--main-brand-color);
}
#fontSize {
  position: relative;
}
#fontSize.font-1 .font > span:first-child,
#fontSize.font-2 .font > span:first-child,
#fontSize.font-3 .font > span:first-child,
#spacing.spacing-1 .space > span:first-child,
#spacing.spacing-2 .space > span:first-child,
#lineHeight.lineHeight-1 .lineHeight > span:first-child,
#lineHeight.lineHeight-2 .lineHeight > span:first-child {
  background-color: var(--main-brand-color);
}

#fontSize.font-2 .font > span:nth-child(2),
#spacing.spacing-2 .space > span:nth-child(2),
#lineHeight.lineHeight-2 .lineHeight > span:nth-child(2) {
  background-color: var(--main-brand-color);
}
#fontSize.font-3 .font > span:nth-child(3) {
  background-color: var(--main-brand-color);
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 12px;
  z-index: 100000;
}

.final {
  color: black;
  padding-right: 3px;
}
.interim {
  color: gray;
}
.info {
  font-size: 14px;
  text-align: center;
  color: #000;
  display: none;
}
.sidebyside {
  display: inline-block;
  width: 45%;
  min-height: 40px;
  text-align: left;
  vertical-align: top;
}

.questDiv .info-speech {
  /* font-size: 18px; */
  text-align: center;
  color: var(--second-brand-color);
  font-style: italic;
  visibility: hidden;
  display: inline-block;
}

#results {
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #000;
  padding: 16px;
  text-align: center;
  margin: 2rem auto 1rem;
  max-width: 550px;
  min-height: 120px;
  background: #fff;
  border-radius: 4px;
}

select {
  visibility: visible;
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: 4px;
  border: 2px solid #000;
}
.start_button {
  background: none !important;
  box-shadow: none !important;
  padding: 5px !important;
  border-radius: 50% !important;
  border: 2px solid #000 !important;
  box-sizing: border-box;
  width: 40px !important;
  height: 40px !important;
  display: flex;

  justify-content: center;
  align-items: center;
  min-width: unset !important;
  min-height: unset !important;
}
.start_button img {
  width: 20px;
  height: 20px;
}
.speech-group {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 20px;
}

p.info_blocked,
p.info_denied,
p.info_no_speech,
p.info_no_microphone,
p.info_upgrade {
  color: #d00;
}
